<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Toyr - Bine ați venit !</title>
    <link rel="stylesheet" type="text/css" href="../css/mainCharacteristics.css">
    <link rel="stylesheet" type="text/css" href="../css/category.css">
    <link rel="stylesheet" type="text/css" href="../css/product.css">
    <link rel="stylesheet" type="text/css" href="../css/productList.css">

  </head>
  <body>
  <div class="grid-container">
	<header>
		<div id="logo">
          <h1><a href="../../index.php" style="text-decoration:none; color: inherit;">Toyr.ro </a></h1>
        </div>
        <div id="searchContainer">
          <form action="Cautare.php">
            <input type="text" placeholder="Caută jucării..." name="Jucarii" value="">
            <button type="submit" id="searchButton"> Caută </button>
          </form>
        </div>
        <nav id="functionality">
            <ul>
              <li class="account">
                <button class="accountButton">Contul meu</button>
                <div class="accountOptions">
                  <a href="login.html">Login</a>
                  <a href="register.html">Register</a>
                </div>
              </li>
              <li>
                <input type="button" class="orderButton" name="payment" value="Coșul meu" onclick="window.location.href='payment.html'">

              </li>

            </ul>
        </nav>
	</header>



  <div class="filter">
      <form action="/action_page.php" class="forms">
          <p style=" font-weight: bold;">Disponibilate</p>
          <input type="checkbox" name="Stoc" value="Stoc">In stoc<br>
          <input type="checkbox" name="Promotii" value="Promotii">Promotii<br>
          <input type="checkbox" name="Noutati" value="Noutati">Noutati<br>
          <input type="checkbox" name="LichidareStoc" value="Lichidare Stoc">Lichidare Stoc<br>
          <input type="checkbox" name="Resigilate" value="Resigilate">Resigilate<br><br><br>

          <p style=" font-weight: bold;">Varsta</p>
          <input type="checkbox" name="Age1" value="">1+<br>
          <input type="checkbox" name="Age2" value="">2+<br>
          <input type="checkbox" name="Age3" value="">3+<br>
          <input type="checkbox" name="Age4" value="">4+<br>
          <input type="checkbox" name="Age5" value="">5+<br>
          <input type="checkbox" name="Age6" value="">6+<br>
          <input type="checkbox" name="Age7" value="">7+<br>

          <p style=" font-weight: bold;">Pret</p>
          <input type="checkbox" name="Pret1" value="">Sub 50<br>
          <input type="checkbox" name="Pret2" value="">100 - 200<br>
          <input type="checkbox" name="Pret3" value="">200 - 500<br>
          <input type="checkbox" name="Pret4" value="">500 - 1000<br>
          <input type="checkbox" name="Pret5" value="">Peste 1000<br>

          <input type="submit" value="Filtrează">
        </form>
  </div>

  <div class="main">
    <nav class="minimizedMenu">
    <div class="dropdownCategories">
      <button class="categoriesButton">Produse</button>
        <div class="dropdown-content">
          <a href="#">Jocuri și puzzle-uri</a>
          <a href="#">Educaționale</a>
          <a href="#">Figurine</a>
          <a href="#">Vehicule</a>
          <a href="#">Modele teleghidate</a>
          <a href="#">Păpuși</a>
          <a href="productList.html">Plușuri</a>
          <a href="#">Creativitate</a>
          <a href="#">Jucării din lemn</a>
          <a href="#">Exterior</a>
          <a href="#">Lego</a>
          <a href="#">Arme de jucărie</a>
          <a href="#">Hobby-uri și roleplay</a>
        </div>
      </div>
      <button class="categoriesButton">Ordonează după</button>
      </nav>

    <div class="productContainer">
      <div class="product">
        <div>
          <a href="produs.html"><img class="product-image" src="../../Resources/websiteImages/tux.png" width="125" height="125" alt="unable to load image"></a>
        </div>
        <div>
          <p class="product-name">Tuxy</p>
        </div>
        <div>
          <p class="product-price">14.99 Lei</p>
        </div>
        <div>
          <button type="submit" class="buy-button"> Cumpară </button>
        </div>
      </div>
    </div>
  </div>

	<footer>
    <div>
      <h1>Toyr.ro</h1>
    </div>
    <nav class="sitemap" >
      <p style=" font-weight: bold;">Sitemap</p>
      <ul>
        <li>Acasă</li>
        <li>Promoții</li>
        <li>Informații utile</li>
      </ul>
    </nav>
    <nav class="utility">
      <p style=" font-weight: bold;">Util</p>
      <ul>
        <li>Cum cumpăr</li>
        <li>Livrare și plată</li>
        <li>Termeni și condiții</li>
      </ul>
    </nav>
  </footer>
</div>
</body>
</html>
