*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.menuContainer {
  display: flex;
  align-items: center;
  width: 100%;
  background: #35424a;
  color: #ffffff;
  padding: 20px;
  justify-content: center;
  grid-area: header; /*  */
}
#searchContainer{
  display: flex;
  padding-left: 20px;
}


#searchButton{
  background:#e8491d;
  border : 0;
  padding-left: 20px;
  padding-right: 20px;
  color : #ffffff;
}
form{
  display: flex;
}
#searchContainer input[type="text"]{
  height: 50px;
  width : 500px;
  padding: 5px;
  font-size: 16px;
}


a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}

ul{
  font-size: 20px;
  margin: 0;
  padding: 0;
}
header li{
  display: inline;
  padding: 0 20px 0 20px;
}
.grid {
  display: grid;
  grid-template-areas:
    'header header header header header header header header header'
    'menu main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer';
}

.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }
