
.categoriesContent{
  margin-top: 5px;
  background-color:#F6F7F6 ;
  border: 3px;
}
.categoriesContent+ ul{
  padding: 0;
  position: relative;
  display: inline-block;
}
.categoriesContent  ul  li:hover{
  background-color: #bfbfbf;
}

.categoriesContent ul li{
  padding: 5px;
  color : #000000;
}

#categoriesTitle{
  background-color: #e8491d;
  text-align: center;

}
