
#functionality{
    margin-left: 200px;
}

#logo{
    margin-right: 60px;

}
#logo a{
    text-decoration: none;
    color: white;
}

#functionality a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}

#functionality ul{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#functionality li{
    display: inline;
    padding: 0 20px 0 20px;
}


/* Dropdown Button */
.accountButton, .orderButton{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.account {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.accountOptions {
    display: none;
    position: absolute;
    background-color: #35424a;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.accountOptions  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.accountOptions   a:hover {background-color: #e62e00;}

/* Show the dropdown menu on hover */
.account:hover  .accountOptions {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.account:hover .accountButton {background-color: #3e8e41;}

.spacingDropdown {
    width: 100%;
    margin-top: -2%;
    margin-bottom: -2%;
}
