
.optionsGroup {

    display: flex;
    align-items: center;
    justify-content: center;


}

#aboveOptions {
    display: flex;
    align-items: center;
    justify-content: left;
}

#currentCategory {
    padding-left: 40px;
}

