@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


.product-card {
  width: 250px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.discount {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.gift {
  position: absolute;
  left: 0;
  top: 50px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: white;
}

.product-tumb img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-name {

  font-weight: 700;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  text-align: center;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
  text-align: center;
}

.product-bottom-details div {
  display: inline-block;
  width: 100%;

}

.product-price {
  text-align: center;
  font-size: 18px;
  color: #EF2809;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  color: black;
  margin-right: 5px;
}

.product-links {
  text-align: center;
  padding-top: 10px;
}

