
#container {
    overflow: hidden;
    width: 100%;
}

#inner {
    overflow: hidden;
}

.buton { /*Stilul butonului de la finalul paginii*/
    background-color: rgb(201, 0, 0);
    color: white;
    padding: 12px;
    margin: 1px 0;
    border: none;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    float:right;
}
.buton:hover {
    background-color: rgb(156, 0, 0);
}

.image {
    width: 100%; /* Image container is now full-width */
}

.image img {
    margin: 40px auto; /* "auto" will center block elements */
    display: block; /* Set images to be "block" so they obey our auto margin */
}
